extends layout

block content
	h1= title
	p Aplicación web para ver cuánto tiempo de espera hay en cada parada de autobús.
	p
		strong Ejemplos
	p
		a(href="/parada/812") Fuente dorada
	p
		a(href="/parada/1156") Recoletos esq Pza Zorrilla
	p
		a(href="/parada/1156") Isabel La Católica esq Poniente
	p Cambiar el número del final de la ruta por el número de parada
	hr
	p
		a(href="https://github.com/luisddm/AuvasaScraper")
			img(src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png")