extends layout

block content
	h1= title
	p API que devuelve los tiempos de espera hay en cada parada de autobús.
	p
		strong Ejemplos
	ul
		li Fuente dorada
			a(href="/api/stop/812") [API]
			a(href="/web/stop/812") [WEB]
		li Recoletos esq Pza Zorrilla
			a(href="/api/stop/1156") [API]
			a(href="/web/stop/1156") [WEB]
		li Pº Zorrilla 65 fte. El Corte Inglés
			a(href="/api/stop/992") [API]
			a(href="/web/stop/992") [WEB]
	p Cambiar el número del final de la ruta por el identificador de parada
	hr
	p
		a(href="https://github.com/luisddm/AuvasaScraper")
			img(src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png")
