@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	tr:first-child {
		font-weight: 700;
	}
	td {
		padding: 10px;
	}
	background-color: #eee; 
}