body {
  padding: 20px;
  font: 14px "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li a {
  margin-left: 8px;
  font-size: 10px;
  font-weight: bold;
}

table {
  background-color: #eee;
  width: 100%;
  font: 20px "Helvetica Neue", Arial, sans-serif;
}
table th {
	padding: 10px;
  font-weight: 700;
  background-color: #ddd;
}
table tr td {
  padding: 10px;
}
table tr td:first-child {
  text-align: right;
}
table tr td:last-child {
  text-align: center;
}

.blink {
  color: red;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out; animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}


@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



img {
	width: 100px;
}
